{% extends 'shop/base.html' %}
{% load humanize %}
{% load static %}
{% block head %}
    <title>Baby land | Shoping Cart</title>
    <script>
        function pq (){
            var quantform = document.getElementById("quantform");
            {% for cart_item in cart.cartitem_set.all %}
                var newquant = document.getElementById("{{cart_item.product.name}}").value;
                var inp = document.createElement("input");
                inp.setAttribute("type", "hidden");
                inp.setAttribute("name", "{{cart_item.product.name}}");
                inp.setAttribute("value", newquant);
                quantform.appendChild(inp);
            {% endfor %};
        };
    </script>
{% endblock %}

{% block content %}
<!-- Shoping Cart Section Begin -->
<section class="shoping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th class="shoping__product" id="test">Products</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cart_item in cart.cartitem_set.all %}
                            <tr>
                                <td class="shoping__cart__item">
                                    <img src="/static/{{cart_item.product.img_path}}" alt="">
                                    <h5>{{cart_item.product.name}}</h5>
                                </td>
                                <td class="shoping__cart__price" id="price">
                                    {{cart_item.product.price|intcomma}}
                                </td>
                                <td class="shoping__cart__quantity">
                                    <div class="quantity">
                                        <form class="pro-qty">
                                            <input type="text" value="{{cart_item.quantity}}" id="{{cart_item.product.name}}">
                                        </form>
                                    </div>
                                </td>
                                <td class="shoping__cart__total" id="total">
                                    {{cart_item.total|intcomma}} VND
                                </td>
                                <td class="shoping__cart__item__close">
                                    <a href="{% url 'shop:del-item' cart_item.product.id %}">
                                        <span class="icon_close"> </span>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__btns">
                    <button onclick="history.back()" class="primary-btn cart-btn">CONTINUE SHOPPING</a>
                    <form id="quantform" method="post">
                        {% csrf_token %}
                    </form>
                    <button onclick="pq()" class="primary-btn cart-btn cart-btn-right" form="quantform">Update Cart</button>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="shoping__continue">
                    <div class="shoping__discount">
                        <h5>Discount Codes</h5>
                        <form action="#">
                            <input type="text" placeholder="Enter your coupon code">
                            <button type="submit" class="site-btn">APPLY COUPON</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="shoping__checkout">
                    <h5>Cart Total</h5>
                    <ul>
                        <li>Quantity <span>{{total_item|intcomma}}</span></li>
                        <li>Total <span>{{total|intcomma}} VND</span></li>
                    </ul>
                    <a href="{% url 'shop:checkout' %}" class="primary-btn">PROCEED TO CHECKOUT</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shoping Cart Section End -->

{% endblock %}