{% extends 'shop/base.html' %}
{% load humanize %}
{% load static %}
{% block head %}
    <title>Baby land | Products</title>
{% endblock %}
{% block content %}
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static 'shop/img/productbaner.png' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <div class="breadcrumb__option">
                            <h2>Baby Land Shop</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5">
                    <div class="sidebar">
                        <div class="sidebar__item">
                            <h4>Category</h4>
                            <ul>
                                <li><a href="{% url 'shop:products' %}?category=milk">Milk</a></li>
                                <li><a href="{% url 'shop:products' %}?category=diaper">Diaper</a></li>
                                <li><a href="{% url 'shop:products' %}?category=food & weaning food">Food & Weaning food</a></li>
                                <li><a href="{% url 'shop:products' %}?category=bath & body care">Bath & Body care</a></li>
                                <li><a href="{% url 'shop:products' %}?category=accessory">Baby accessory</a></li>
                                <li><a href="{% url 'shop:products' %}?category=toy">Toy</a></li>
                                <li><a href="{% url 'shop:products' %}?category=bedroom">Bedroom</a></li>
                                <li><a href="{% url 'shop:products' %}?category=clothes">Clothes</a></li>
                                <li><a href="{% url 'shop:products' %}?category=towel">Towel</a></li>
                                <li><a href="{% url 'shop:products' %}?category=orther">Orther</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-7">
                    <div class="filter__item">
                        <div class="row">
                            <div class="col-lg-4 col-md-5">
                                <div class="filter__sort">
                                    <span>Sort By</span>
                                    <select onchange="window.location.href=this.value;">
                                        {% if filter.category %}
                                            <option value="{% url 'shop:products' %}?category={{filter.category}}">Default</option>
                                            {% if filter.order == 'price' %}
                                                <option value="{{request.get_full_path}}" selected>Price</option>
                                            {% else %}
                                                <option value="{% url 'shop:products' %}?category={{filter.category}}&order=price">Price</option> 
                                            {% endif %}
                                        {% else %}
                                            <option value="{% url 'shop:products' %}">Default</option>
                                            {% if filter.order == 'price' %}
                                                <option value="{{request.get_full_path}}" selected>Price</option>
                                            {% else %}
                                                <option value="{% url 'shop:products' %}?order=price">Price</option> 
                                            {% endif %}
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="filter__found">
                                    <h6><span>{{ products.object_list.count }}</span> Products found</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% for product in products %}
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="/static/{{product.img_path}}">
                                    <ul class="product__item__pic__hover">
                                        <li><a href="{% url 'shop:add-item' product.id %}"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="{% url 'shop:detail' product.id %}">{{product.name}}</a></h6>
                                    <h5>{{product.price|intcomma}} VND</h5>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="product__pagination">
                        {% for i in paginator.page_range %}
                            {% if filter.category %}
                                {% if filter.order %}
                                    {% if products.number == i %}
                                        <a href="{% url 'shop:products' %}?category={{filter.category}}&order={{filter.order}}&page={{i}}" style="background: #7fad39;">{{i}}</a>
                                    {% else %}
                                        <a href="{% url 'shop:products' %}?category={{filter.category}}&order={{filter.order}}&page={{i}}">{{i}}</a>
                                    {% endif %}
                                {% else %}
                                    {% if products.number == i %}
                                        <a href="{% url 'shop:products' %}?category={{filter.category}}&page={{i}}" style="background: #7fad39;">{{i}}</a>
                                    {% else %}
                                        <a href="{% url 'shop:products' %}?category={{filter.category}}&page={{i}}">{{i}}</a>
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                {% if filter.order %}
                                    {% if products.number == i %}
                                        <a href="{% url 'shop:products' %}?order={{filter.order}}&page={{i}}" style="background: #7fad39;">{{i}}</a>
                                    {% else %}
                                        <a href="{% url 'shop:products' %}?order={{filter.order}}&page={{i}}">{{i}}</a>
                                    {% endif %}
                                {% else %}
                                    {% if products.number == i %}
                                        <a href="{% url 'shop:products' %}?page={{i}}" style="background: #7fad39;">{{i}}</a>
                                    {% else %}
                                        <a href="{% url 'shop:products' %}?page={{i}}">{{i}}</a>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Section End -->
{% endblock %}
